<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Home Page'}); %>
  
  <body>
    <% include ../partials/navbar %>

  <div class="container-fluid">
    <br>
    <h1><%= title %>
      <a href="./birds/edit" class="btn-lg btn-info float-right">Edit Bird</a>
        
    </h1>
    <br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Species</th>
        <th scope="col">Nickname</th>
        <th scope="col">Active</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
        <td><input type="checkbox"></td>
      </tr>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
        <td><input type="checkbox"></td>
      </tr>
    </tbody>
  </table>
</div>

  </body>
</html>