<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Home Page'}); %>
  
  <body>
    <% include ../partials/navbar %>


  <div class="container-fluid">
    <br>
    <h1><%= title %>
        <button type="button" class="btn-lg btn-info float-right">+Add Food</button>
    </h1>
    <br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Weight</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
      </tr>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
      </tr>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
      </tr>
    </tbody>
  </table>
</div>

  </body>
</html>