<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Home Page'}); %>
  
  <body>
    <% include ../partials/navbar %>


  <div class="container-fluid">
    <br>
    <h1><%= title %>
      <a href="./meds/edit" class="btn-lg btn-info float-right">Edit Meds</a>
    </h1>
    <br>
<table id="medsTable" class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
      </tr>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
      </tr>
      <tr>
        <td>10/10/20</td>
        <td>1:00 pm</td>
      </tr>
    </tbody>
  </table>
</div>

<% include ../partials/scripts %>

<script type="text/javascript">
$(document).ready( function () {
    $('#medsTable').DataTable();
});
</script>
  </body>
</html>