<!DOCTYPE html>
<html>
  <%- include('../partials/header', {title: 'Home Page'}); %>
  
  <body>    
    <%- include ../partials/navbar %>

    <br>    

    <div class="container-fluid">
      <h1>Settings</h1>

      <br>

      <div class="card-group">
      <div class="card" style="width: 18rem;">
        <div class="card-header">Birds</div>
        <div class="card-body">
          <p class="card-text">Add, update, or remove birds</p>
          <a href="settings/birds" class="btn btn-primary">Go to birds</a>
        </div>
        </div>

      <div class="card" style="width: 18rem;">        
        <div class="card-header">Meds</div>
        <div class="card-body">
          <p class="card-text">Add, update, or remove meds</p>
          <a href="settings/meds" class="btn btn-primary">Go to meds</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-header">Foods</div>
        <div class="card-body">
          <p class="card-text">Add, update, or remove foods</p>
          <a href="settings/foods" class="btn btn-primary">Go to foods</a>
        </div>
        </div>
      </div>
    </div>
    <%- include ../partials/scripts %>
  </body>
</html>