body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  padding-top: 75px;
}

/* Found a great dominant color detector for images at 'https://imagecolorpicker.com'.
  This can help pick what colors would go well with your background image.*/

h1 {
  border-radius: 25px;
  background: #9a7f5d;
  padding: 20px;
  width: 200px;
  height: 150px;
 
  width:1000px;
  height:800px;
  border:25px solid rgb(154,127,93);
  background-color:rgb(154,127,93);
}