<!DOCTYPE html>
<html>
<%- include('../partials/header', {title: 'Create Feeding'}); %>

<body>
    <% include ../partials/navbar %>
    <div class="container">
        <br>
        <h1><%= title %></h1>
        <p>Create a feeding</p>
        <form method="POST" action="/feedings/create">
            <div class="container-fluid" style="width: 18rem;">
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Bird" name="Bird">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Food" name="Food">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Amount Fed" name="Amount Fed">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Leftover Food" name="Leftover Food">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Medicine" name="Medicine">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Goal Weight" name="Goal Weight">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Actual Weight" name="Actual Weight">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Weather Conditions" name="Weather Conditions">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Feeder" name="Feeder">
                </div>
                <div class="form-group" col-4>
                    <input type="text" class="form-control" placeholder="Comments" name="Comments">
                </div>
                <div class="form-group" col-4>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </div>
        </form>
    </div>
    <% include ../partials/scripts %>
</body>

</html>