<!DOCTYPE html>
<html>
<%- include('../../partials/header', {title: 'Home Page'}); %>

<body>
    <% include ../../partials/navbar %>
    <div class="container-fluid">
        <br>
        <h1><%= title %></h1>
        <p>Update Meds</p>
        <form method="POST" action="/settings/meds/update">
            <input type="hidden" name="id" value="<%= data._id  %>"/>
            <div class="container-fluid" style="width: 18rem;">
                <div class="col" col-4>
                    <input type="text" class="form-control" placeholder="Name of medication" name="name" value="<%= data.name  %>">
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <% include ../../partials/scripts %>
</body>

</html>